body{
   font-family: "Mozilla Text", sans-serif; 
}

h1 {
    margin-top: 50px;
    display: inline-block;
    font-size: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

nav img{
    flex-shrink: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 10px;
}

nav div{
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.fit_picture {
    width: auto;
    height: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.first-main {
    width: 70%;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

/**
.first img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
**/

.second-main {
    width: 25%;
    display: grid;
    height: 100vh;
    overflow: hidden;
    gap: 20px;
    border-radius: 20px;
}

.second-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card {
    display: grid;
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px;
}

.card > a {
    justify-self: end;
    text-decoration: underline;
}

.image_background {
    background-image: url(spencer-plouzek-CG5l3VU4DLY-unsplash.jpg);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.right-first-main p{
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right-first-main > h1{
    background-color: white;
    margin-top: -4px;
    margin-bottom: 0px;
    color: black;
    display: inline-block;
    width: fit-content;
    padding: 12px;
    font-size: 38px;
    margin-right: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: normal;
}

.right-first-main > h1 ~ h1{
    margin-top: -10px;
    margin-bottom: 0px;
    border-top-right-radius: 0px;
}

.right-first-main > h1:last-of-type{
    border-bottom-left-radius: 20px;
}

.left-first-main ul{
    border: solid white;
    height: 20px;
    width: 60px;
    border-radius: 20px; 
    justify-items: center;
    color: white;
}

.left-first-main {
    display: grid;
    width: 50%;
    grid-template-rows: 20px;
    gap: 30px;
}

.left-first-main p{
    background-color: white;
    color: black;
    display: flex;
    padding: 16px;
    border-radius: 20px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-first-main {
    width: 50%;
}