body{
   font-family: "Mozilla Text", sans-serif; 
}

h1 {
    margin-top: 50px;
    display: inline-block;
    font-size: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

nav img{
    flex-shrink: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 10px;
}

nav div{
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.fit_picture {
    width: auto;
    height: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.first-main {
    width: 70%;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

/**
.first img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
**/

.second-main {
    width: 25%;
    display: grid;
    height: fit-content;
    gap: 20px;
    border-radius: 20px;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

.second-main img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.second-main > button {
    align-self: baseline;
    width: 50px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px;
    height: fit-content;

}


.card button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-self: end;
}

.card h3 {
    grid-row: 3;
}

.card a {
    grid-row: 3;
    justify-self: end;
    align-self: center;
}

.card > a {
    text-decoration: underline;
}

.fotos-container button {
    padding: 5px;
    border-radius: 10px;
}

.image_background {
    background-image: url(spencer-plouzek-CG5l3VU4DLY-unsplash.jpg);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.right-first-main p{
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right-first-main > h1{
    background-color: white;
    margin-top: -4px;
    margin-bottom: 0px;
    color: black;
    display: inline-block;
    width: fit-content;
    padding: 12px;
    font-size: 38px;
    margin-right: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: normal;
}

.right-first-main > h1 ~ h1{
    margin-top: -10px;
    margin-bottom: 0px;
    border-top-right-radius: 0px;
}

.right-first-main > h1:last-of-type{
    border-bottom-left-radius: 20px;
}

.left-first-main ul{
    border: solid white;
    height: 20px;
    width: 60px;
    border-radius: 20px; 
    justify-items: center;
    color: white;
}

.left-first-main {
    display: grid;
    width: 50%;
    grid-template-rows: 20px;
    gap: 30px;
}

.left-first-main p{
    background-color: white;
    color: black;
    display: flex;
    padding: 16px;
    border-radius: 20px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-first-main {
    width: 50%;
}

@media screen and (max-width: 767px){
    section {
        display: grid;
        margin-top: 0px;
    }
    h1 {
        font-size: 30px;
    }

    nav {
        margin-bottom: 0px;
    }

    .left-first-main p{
        font-size: 10px;
        padding: 6px;
    }

    .left-first-main ul{
        font-size: 10px;
        padding: 6px;
        width: 40px;
    }

    .right-first-main h1 {
        font-size: 16px;
        margin-right: 30px;
    }

    .first-main {
        width: 100%;
        height: auto;
    }

    .second-main {
        width: auto;
    }

    .image_background {
        height: 65%;

    }
    
    .second-main p{
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .second-main h3{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .second-main img{
        height: 30%;
        overflow: hidden;
    }

}

@media screen and (orientation: landscape){
    
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.dark {
    background-color: #000;
    color: #fff
}

.posts {
    padding: 20px;
}
.post {
    padding: 20px;
    border: solid 1px lightblue;
    margin: 10px 0;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 50%);
    border-radius: 20px;
}